@model MyClosetWeb.Models.User

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="text-center" text-align: center;>
    <img src="~/imgs/slogam.png" width=250 height=150 runat="server" ;>
    <h1 class="display-6">Seja Bem Vindo(a)!</h1>
    <p> </p>
</div>

<div class="form-popup" id="myForm">
    <form class="form-container" asp-controller="RegisterPage"  method="post">
        <span class="close" onclick="closeForm()">&times;</span>

        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" type="email" class="form-control" />

        <label asp-for="Password" class="control-label">Senha</label>
        <input asp-for="Password" type="password" class="form-control" />
        
        <button type="submit" class="btn" asp-controller="RegisterPage" asp-action="CheckUser">Entrar</button>
        <button type="button" id="registerbtn" class="btn register" asp-controller="RegisterPage" asp-action="Register">Cadastrar</button>
    </form>
</div>

@section scripts {
    <script>
        $(function () {
            $("#registerbtn").click(function () {
                window.location.href = '@Url.Action("RegisterPage", "Home")';
            });
        });
    </script>
}

